.background {
    fill: lightgrey;
}

.content {
    width: 100%;
    text-align: center;
}

.gameboard {
    width: 600px;
    max-width: 100%;
}

.light {
    fill: white;
}

.shadow {
    fill: darkgrey;
}

.flagpole {
    fill: black;
}

.flag {
    fill: red;
}
