.background {
    fill: lightgrey;
    stroke: #DDD;
    stroke-width: 1;
}

.content {
    width: 100%;
    text-align: center;
}

.gameboard {
    width: 600px;
    max-width: 100%;
}

.light {
    fill: white;
}

.shadow {
    fill: darkgrey;
}

.flagpole {
    fill: black;
}

.flag {
    fill: #F25;
}
.mine-background {
    fill: #F32
}
.mine {
    fill: black
}
@keyframes MineWobble {
  0%   {transform: rotate(0deg);}
  80%   {transform: rotate(0deg);}
  85%   {transform: rotate(20deg);}
  90%   {transform: rotate(-20deg);}
  95%   {transform: rotate(20deg);}
  100%   {transform: rotate(0deg);}
}

.mine-wobble {
    animation: 3s linear 0s infinite normal MineWobble;
}

.revealed-square {
    font-family: "share tech mono";
    font-size: 32px;
    text-anchor: middle;
    dominant-baseline: central;
}

.value-1 {
    fill: #27F;
}
.value-2 {
    fill: #0B5;
}
.value-3 {
    fill: #F25;
}
.value-4 {
    fill: #F82;
}
.value-5 {
    fill: #F5A;
}
.value-5 {
    fill: #EE0;
}
.value-6 {
    fill: #B2B;
}
.value-7 {
    fill: #F9F;
}
.value-8 {
    fill: #8FD;
}